/* Place all global styles into this file, i.e. styles that apply across the entire project. Example: font-styles. */

* {
  box-sizing: border-box;
}

body {
  /* To prevent fixed navbar from overlaying content at top of page */
  padding-top: 100px;

  color: $mainGreen;
  font-size: 2rem;

  background-image: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

