#navbar,
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  list-style-type: none;
  padding: 30px 0;
  background-color: $mainGrey;
  font-size: 2rem;

  &__navbar-link {
    color: white;
  }

  &__navbar-link:hover {
    color: $mainGreen;
    text-decoration: none;
  }
}