#welcome-section,
.welcome-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 120px 10% 0;
  height: 100vh;

  &__header-1,
  &__header-2 {
    text-align: center;
  }

  &__header-1 {
    padding-bottom: 30px;
  }

  &__header-2 {
    color: $mainGrey;
  }
}

@mixin atMedium {
  #welcome-section,
  .welcome-section {

    &__header-1,
    &__header-2 {
      font-size: 40px;
    }
  }
}